<h1 mat-dialog-title>{{ !oldData ? "Add New Employee" : "Update employee details"}}</h1>
<mat-dialog-content class="mat-typography" class="dialog-content">
    <form [formGroup]="employeeForm">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matTooltip="Enter name" type="text" maxlength="255" matInput formControlName="name"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['name'].touched && employeeForm.controls['name'].dirty && employeeForm.controls['name'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['name'].touched && employeeForm.controls['name'].dirty && employeeForm.controls['name'].errors?.['minlength']">
                Minimum 3 characters required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matTooltip="Enter Email Id" type="email" matInput formControlName="email"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['email'].touched && employeeForm.controls['email'].dirty && employeeForm.controls['email'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['email'].touched && employeeForm.controls['email'].dirty && employeeForm.controls['email'].errors?.['email']">
                Invalid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Employee ID</mat-label>
            <input matTooltip="Enter Employee ID" type="text" maxlength="255" matInput formControlName="employeeId"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['employeeId'].touched && employeeForm.controls['employeeId'].dirty && employeeForm.controls['employeeId'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['employeeId'].touched && employeeForm.controls['employeeId'].dirty && employeeForm.controls['employeeId'].errors?.['minlength']">
                Minimum 3 characters required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Designation</mat-label>
            <input matTooltip="Enter Designation" type="text" maxlength="255" matInput formControlName="designation"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['designation'].touched && employeeForm.controls['designation'].dirty && employeeForm.controls['designation'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['designation'].touched && employeeForm.controls['designation'].dirty && employeeForm.controls['designation'].errors?.['minlength']">
                Minimum 3 characters required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Years of Experience</mat-label>
            <input matTooltip="Enter Years of Experience" type="number" matInput formControlName="experience"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['experience'].touched && employeeForm.controls['experience'].dirty && employeeForm.controls['experience'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['experience'].touched && employeeForm.controls['experience'].dirty && employeeForm.controls['experience'].errors?.['max']">
                Minimum 30 Years of experience
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Reporting Manager</mat-label>
            <input matTooltip="Enter Reporting Manager" type="text" maxlength="255" matInput
                formControlName="reportingManager" (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['reportingManager'].touched && employeeForm.controls['reportingManager'].dirty && employeeForm.controls['reportingManager'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['reportingManager'].touched && employeeForm.controls['reportingManager'].dirty && employeeForm.controls['reportingManager'].errors?.['minlength']">
                Minimum 3 characters required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matTooltip="Enter Mobile Number" type="number" matInput formControlName="mobileNumber"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['mobileNumber'].touched && employeeForm.controls['mobileNumber'].dirty && employeeForm.controls['mobileNumber'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['mobileNumber'].touched && employeeForm.controls['mobileNumber'].dirty && employeeForm.controls['mobileNumber'].errors && !employeeForm.controls['mobileNumber'].errors?.['required']">
                Invalid phone number
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Project</mat-label>
            <input matTooltip="Enter Project" type="text" maxlength="255" matInput formControlName="project"
                (input)="replaceAllWhiteSpace($event)">
            <mat-error
                *ngIf="employeeForm.controls['project'].touched && employeeForm.controls['project'].dirty && employeeForm.controls['project'].errors?.['required']">
                Required
            </mat-error>
            <mat-error
                *ngIf="employeeForm.controls['project'].touched && employeeForm.controls['project'].dirty && employeeForm.controls['project'].errors?.['minlength']">
                Minimum 3 characters required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Skills</mat-label>
            <input matTooltip="Enter Skills" type="text" maxlength="255" matInput formControlName="skills"
                (input)="replaceAllWhiteSpace($event)">
        </mat-form-field>
    </form>
    <div class="delete-container" *ngIf="deleteState">
        <div class="content-wrapper">
            <mat-icon>info</mat-icon>
            <p>Are you sure ?</p>
            <span>You will not be able to recover this action</span>
            <div class="btns-wrapper">
                <button mat-raised-button matTooltip="Cancel" (click)="deleteState = false">Cancel</button>
                <button mat-raised-button matTooltip="Delete employee record" (click)="handleDeleteUser()">Yes,
                    delete</button>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-footer">
    <button mat-raised-button mat-dialog-close class="close-btn" matTooltip="Close" matTooltip="Close"
        *ngIf="!deleteState"><mat-icon>close</mat-icon>Close</button>
    <button mat-raised-button *ngIf="oldData && !deleteState" class="delete-btn" (click)="deleteState = true"
        matTooltip="Delete employee"><mat-icon>delete_forever</mat-icon>Delete Employee</button>
    <button mat-raised-button class="submit-btn" (click)="submitFormDetails()" [disabled]="!employeeForm.valid"
        *ngIf="!oldData && !deleteState" matTooltip="Submit"><mat-icon>send</mat-icon>Submit</button>
    <button mat-raised-button class="submit-btn" (click)="updateFormDetails()" [disabled]="!employeeForm.valid"
        *ngIf="oldData && !deleteState" matTooltip="Update"><mat-icon>send</mat-icon>Update</button>
</mat-dialog-actions>