<h1 mat-dialog-title>Resolve Ticket No: {{ticketValue.ticketNo}}</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="resolveFormData">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Solution / Comments </mat-label>
            <textarea matInput rows="5" (input)="replaceDoubleSpaceInput($event)" (keypress)="removeEnterSpace($event)"
                matTooltip="Enter Solution / Comments" formControlName="reason"></textarea>
            <mat-error
                *ngIf="resolveFormData.controls['reason'].touched && resolveFormData.controls['reason'].hasError('required')">
                Soltuion/Comments is required
            </mat-error>
            <mat-error
                *ngIf="resolveFormData.controls['reason'].touched && resolveFormData.controls['reason'].hasError('minlength')">
                Minimum 20 characters required
            </mat-error>
            <mat-error
                *ngIf="resolveFormData.controls['reason'].touched && resolveFormData.controls['reason'].hasError('maxlength')">
                Maximum 500 characters required
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close class="close-btn"
        matTooltip="Cancel"><mat-icon>close</mat-icon>Cancel</button>
    <button mat-raised-button class="resolve-btn" [disabled]="!resolveFormData.valid" (click)="rejectTicket()"
        matTooltip="Resolve ticket"><mat-icon>done_all</mat-icon> Resolve </button>
</mat-dialog-actions>