<div class="container">
  <mat-card>
    <div class="img-wrapper">
      <img src="../../../assets/icons/profle_placeholder.jpg" alt="user-img">
    </div>
    <h3 class="name">{{userDetails.name}}</h3>
    <p class="id">Email ID: <span>{{userDetails.username}}</span></p>
    <div class="additional-details" *ngIf="userProfileDetails">
      <p>Employee ID: <span>#{{ userProfileDetails?.employeeId }}</span></p>
      <p>Designation: <span>{{ userProfileDetails?.designation }}</span> </p>
      <p>Experience: <span>{{ userProfileDetails?.experience }} yrs</span> </p>
      <p>Reporting Manager: <span>{{ userProfileDetails?.reportingManager }}</span> </p>
      <p>Project: <span>{{ userProfileDetails?.project }}</span> </p>
      <p>Phone: <span>{{ userProfileDetails?.mobileNumber }}</span> </p>
      <p style="width: 100%;" class="skills-wrapper">
        <span class="skill-title">Skills: </span>
        <mat-chip-set>
          <mat-chip *ngFor="let skill of userSkills">{{skill}}</mat-chip>
        </mat-chip-set>
      </p>
    </div>
  </mat-card>
</div>