<div class="container">
  <mat-card>
    <div class="img-wrapper">
      <img src="../../../assets/icons/profle_placeholder.jpg" alt="user-img">
    </div>
    <h3 class="name">{{userDetails.name}}</h3>
    <p class="id">Email ID: <span>{{userDetails.username}}</span></p>
    <div class="additional-details" *ngIf="userProfileDetails">
      <p>Employee ID: <span>#{{ userProfileDetails?.employeeId }}</span></p>
      <p>Designation: <span>{{ userProfileDetails?.designation }}</span> </p>
      <p>Experience: <span>{{ userProfileDetails?.experience }} yrs</span> </p>
      <p>Reporting Manager: <span>{{ userProfileDetails?.reportingManager }}</span> </p>
      <p>Project: <span>{{ userProfileDetails?.project }}</span> </p>
      <p>Phone: <span>{{ userProfileDetails?.mobileNumber }}</span> </p>
      <p *ngIf="userType !== 'user'" style="width: 100%;">Skills: <span>{{ userProfileDetails?.skills }}</span> </p>
      <div class="skills-wrapper" *ngIf="userType !== 'admin' && userType !== 'hr' && userType !== 'hradmin'">
        <p>Skills:
          <span *ngIf="!skillEditMode">{{ skills }}</span>
          <input type="text" placeholder="Enter skills" *ngIf="skillEditMode" [(ngModel)]="skills">
          <button mat-icon-button matTooltip="Edit skills" class="mat-elevation-z6" (click)="skillEditMode = true"
            *ngIf="!skillEditMode">
            <mat-icon>edit</mat-icon></button>
          <button mat-icon-button matTooltip="Save skills" class="mat-elevation-z6" *ngIf="skillEditMode"
            (click)="updateSkillsValue()"><mat-icon>save</mat-icon></button>
        </p>
      </div>
    </div>
  </mat-card>
</div>