<div class="login-container">
    <div class="wrapper">
        <div class="left-side-wrapper">
            <div class="logo-wrapper">
                <img src="../../../assets/images/help-desk-logo.png" alt="helpdesk-logo">
            </div>
            <p class="welcome-message">Welcome to Help Desk</p>
            <span class="line"></span>
            <p class="description">"We're dedicated to promptly and effectively resolving your queries, technical
                issues, or concerns, offering guidance and assistance every step of the way."</p>
            <button class="login-btn mat-elevation-z4" (click)="redirecttoMainPage()">
                <span>Login with</span>
                <img src="../../../assets/icons/microsoft-logo.png" alt="microsoft-logo">
            </button>
        </div>
        <div class="right-side-wrapper">
            <img src="../../../assets/icons/mail-icon.png" alt="mail-icon" class="mail-icon">
        </div>

        <div class="company-logo">
            <img src="../../../assets/images/3kt-logo-u.png" alt="company-logo">
        </div>
    </div>

</div>