<div class="container">
    <div class="wrapper">
        <div class="top-section">
            <div class="dropdown-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label>Device Type</mat-label>
                    <mat-select value="laptop" (selectionChange)="changeDeviceType($event)"
                        matTooltip="Select device type">
                        <mat-option value="laptop">Laptops</mat-option>
                        <mat-option value="mobile">Mobiles</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Device Status</mat-label>
                    <mat-select value="true" (selectionChange)="changeDeviceStatus($event)"
                        matTooltip="Select device status">
                        <mat-option value="true">Assigned</mat-option>
                        <mat-option value="false">Not Assigned</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button (click)="downloadAllInventoryData()"><mat-icon>attachment</mat-icon>
                Archive</button>
            <button mat-raised-button class="add-device-btn" matTooltip="Add new device"
                (click)="openAddDeviceDialog()"><mat-icon>add</mat-icon>
                Add Device</button>
        </div>
        <div class="dataTable-content-wrapper">
            <table id="devices-table" datatable [dtOptions]="dt0ptions">
                <thead>
                    <tr>
                        <th colspan="4">Employee Information</th>
                        <th colspan="8" style="background: #F4F5F9;">{{ currentDeviceType }} Details</th>
                        <th colspan="2">Others</th>
                    </tr>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Assigned</th>
                        <th>Emp Name</th>
                        <th>Emp ID / Email</th>
                        <th style="background: #F4F5F9;">Make</th>
                        <th style="background: #F4F5F9;">Model</th>
                        <th style="background: #F4F5F9;">Serial No</th>
                        <th style="background: #F4F5F9;">Processor</th>
                        <th style="background: #F4F5F9;">Ram (GB)</th>
                        <th style="background: #F4F5F9;">Storage (GB)</th>
                        <th style="background: #F4F5F9;">Asset Tag ID</th>
                        <th style="background: #F4F5F9;">Warranty</th>
                        <th>Agreement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of filteredDevice, let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{device.assigned ? 'Yes' : 'No'}}</td>
                        <td>{{ device.employee_name || '***' }}</td>
                        <td style="text-transform: lowercase;"> {{ device.employeeId || '***' }}</td>
                        <td style="background: #F4F5F9;"> {{ device.make }} </td>
                        <td style="background: #F4F5F9;">{{ device.model }}</td>
                        <td style="background: #F4F5F9;">{{ device.serialNo }}</td>
                        <td style="background: #F4F5F9; text-transform: unset;">{{ device.processor || '***' }}
                        </td>
                        <td style="background: #F4F5F9;">{{ device.ramSize && device.ramSize + ' GB' || '***' }}</td>
                        <td style="background: #F4F5F9;">{{ device.storageSize && device.storageSize + ' GB' || '***'
                            }}</td>
                        <td style="background: #F4F5F9;">{{ device.assetTagId }}</td>
                        <td style="background: #F4F5F9;">{{ device.warranty }}</td>
                        <td>{{ device.agreement === 'true' ? 'Yes' : 'No' }}</td>
                        <td>
                            <div class="btns-wrapper">
                                <button mat-raised-button (click)="openViewDialog(device)"
                                    matTooltip="View device details"><mat-icon>remove_red_eye</mat-icon> view</button>
                                <button mat-raised-button (click)="openEditDialog(device)"
                                    matTooltip="Edit device details"><mat-icon>edit</mat-icon>
                                    edit</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>